html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

body {
    background-color: black;
    color: white;
    display: flex;
    overflow: hidden;
}

#vod {
    width: 75vw;
    height: 100vh;
}

#chat {
    font-family: sans-serif;
    height: calc(100vh - 2em);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em;
    user-select: none;
    width: calc(25vw - 2em);
}

#chat>div:not(:last-child) {
    margin-bottom: 1em;
}

.display-name {
    font-weight: bold;
}

.divider {
    margin-right: .35em;
}

.body {
    color: rgb(200, 200, 200);
    word-break: break-word;
}

.time {
    color: rgb(100, 100, 100);
    margin-right: .35em;
}

@media (max-aspect-ratio: 1/1) {
    body {
        flex-direction: column;
    }

    #vod {
        height: 32.5vh;
        margin-bottom: 2.5vh;
        width: 100vw;
    }

    #chat {
        height: calc(65vh - 2em);
        width: calc(100vw - 2em);
    }
}