html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

body {
    background-color: black;
    color: white;
    display: flex;
    overflow: hidden;
}

#home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 10vh;
    background-color: grey;
}

#home form {
    display: flex;
    flex-direction: column;
}

#vod {
    width: 75vw;
    height: 100vh;
}

#chat {
    font-family: sans-serif;
    height: calc(100vh - 2em);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em;
    user-select: none;
    width: calc(25vw - 2em);
}

#chat>div:not(:last-child) {
    margin-bottom: 1em;
}
.display-name {
    font-weight: bold;
}

.divider {
    margin-right: .35em;
}


.fragment { 
    color: rgb(200, 200, 200);
    word-break: break-word; 
}
.Highlighted{

    position: relative;
    left:5px;
    background-color:rgb(70, 70, 70);
}
.Highlighted::before{
    position: absolute;
    display:inline-block;
    content:'';
    background-color:purple;
    width:5px;
    height:100%;
    left:-5px;
}
.emoticon{
    position:relative;
    bottom: -8px;
}

.time {
    color: rgb(100, 100, 100);
    margin-right: .35em;
}

@media (max-aspect-ratio: 1/1) {
    body {
        flex-direction: column;
    }

    #vod {
        height: 32.5vh;
        margin-bottom: 2.5vh;
        width: 100vw;
    }

    #chat {
        height: calc(65vh - 2em);
        width: calc(100vw - 2em);
    }
}